@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

.page {
  background-color: white;
  background-image: url(back.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  /* position: relative; */
}

.page__opacity {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.9);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-family: 'Agbalumo', sans-serif;
  font-size: 36px;
  line-height: normal;
  color: #830829;
  border-bottom: solid 2px black;
  padding-bottom: 5px;
}

.resut-word {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start__button {
  width: 322px;
  height: 50px;
  background-color: #4285f4;
  color: #ffffff;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  border: none;
  display: block;
  border-radius: 2px;
  margin: 20px auto 30px auto;
}

.word__elements {
  display: flex;
  list-style: none;
  padding: 20px 0;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  margin-top: 30px;
  width: 1000px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.lives {
  display: flex;
  background-image: url(level0.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  height: 420px;
  position: relative;
}

.lives__element {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.lives__element_is-opened {
  visibility: visible;
  opacity: 1;
}

.form {
  display: flex;
  margin-bottom: 30px;
}

.form__input {
  width: 150px;
  height: 50px;
  border: none;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #f1f1f1;
  margin-right: 10px;
  border-radius: 2px;
  padding: 0 0 0 10px;
}

.form__button {
  width: 150px;
  height: 50px;
  background-color: #ffdb4d;
  color: black;
  border: none;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.form__button_disabled {
  background-color: #f1f1f1;
  cursor: default;
}

.letter-cell {
  border: solid 1px black;
  width: 50px;
  height: 50px;
  background-color: #abc8f7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.letter-name {
  font-family: 'Agbalumo', sans-serif;
  padding-bottom: 40px;
  height: 46px;
  font-size: 46px;
  line-height: normal;
  font-weight: 900;
  color: #ee3465;
  visibility: hidden;
  opacity: 0;
}

.letter-name_is-opened {
  visibility: visible;
  opacity: 1;
}

.dialog {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  border: none;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.6);
  backdrop-filter: blur(10px);
}

.dialog__title {
  font-size: 46px;
  line-height: normal;
  font-weight: 900;
  margin: 0 0 30px 0;
}

.dialog__subtitle {
  font-size: 32px;
  line-height: normal;
  font-weight: 500;
  margin: 0;
}
