.page {
  background-color: white;
  padding: 20px;
}

.lives {
  display: flex;
  margin-bottom: 30px;
}

.lives__element {
  width: 100px;
  height: 50px;
  background-color: #424242;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  line-height: normal;
  text-align: center;
  margin-right: 20px;
  color: white;
  visibility: hidden;
  opacity: 0;
}

.lives__element_is-opened {
    visibility: visible;
    opacity: 1;
}

.start__button {
  width: 322px;
  height: 50px;
  background-color: #4285f4;
  color: #ffffff;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  margin-bottom: 30px;
  border: none;
  display: block;
  border-radius: 2px;
}

.form {
  display: flex;
  margin-bottom: 30px;
}

.form__input {
  width: 150px;
  height: 50px;
  border: none;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #f1f1f1;
  margin-right: 10px;
  border-radius: 2px;
  padding: 0 0 0 10px;
}

.form__button {
  width: 150px;
  height: 50px;
  background-color: #ffdb4d;
  color: black;
  border: none;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.form__button_disabled {
  background-color: #f1f1f1;
  cursor: default;
}

.result {
  display: flex;
  flex-direction: column;
}

.result__container {
  display: flex;
}

.result__title {
  font-size: 28px;
  line-height: normal;
  margin: 0;
  font-weight: 500;
}

.right-letter {
  margin: 0 5px 0 0;
  font-size: 32px;
  line-height: 50px;
  font-weight: 900;
  color: #EE3465;
}
